*.aux
*.nav
*.out
*.pytxcode
*.snm
*.toc
*.vrc
*.vrb
*.log
*.pdf
.*.swp
*.bbl
*.blg
*.pyc
*.py_tested
*.spl
references/*.pdf
references/*.html
references/pin*
references/Sol*
src/output.tex
*table
*gnuplot
